body {
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, div, span, p, button, a, ul, li {
  font-family: "Tsukushi A Round Gothic", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", "メイリオ", sans-serif!important;
}

h5 {
  display: inline-block;
}

.title-wrapper {
  margin: 1rem 0;
}